.css-nav{
    display: flex;
    justify-content: center;
}
.class-nav{
    background-color: rgba(5, 15, 100);
}
.class-nav a{
   color: white;
}
.class-UlLi ul li a{
  color: white;
}
.class-regini ul li a{
    color: white;
}
.img-presentacion{
    width: 100%;
    height: 100vh;
}
.css-img{
    margin-left: auto;
    margin-right: auto;
}
.Class-Footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
}
.redes-sociales{
    font-size:3rem;
    cursor: pointer;
}
.divEsPresentacion{
    display: flex;
}
.imgEsPresentacion{
    width: 50%;
}
.portada-css{
    width: 100%;
    height: 100vh;
}
@media (max-width: 600px){
    .css-nav{
        display: block;
    }
    .Class-Footer{
        text-align: center;
        display: block;
        padding-right: 0;
        padding-left: 0;
    }
    .planPlatacss{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .divEsPresentacion{
        display: block;
    }
    .imgEsPresentacion{
        width: 100%;
    }
    .LetraH3EsPre h3{
        font-size: 1.25rem;
    }
    .portada-css{
        width: 100%;
        height:30vh;
    }
}
